/*******************************
            Global
*******************************/

html, body {
  font-family: "Lato", Arial, sans-serif;
  margin: 0px;
  padding: 0px;
}
body {
  min-height: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Merriweather", Times New Roman, serif;
}


.hero-button {
	background:#6dab85;
	border-radius: 4px;
	margin: 20px 0 0 0 ;
	color:white;

}

.hero-text{
	width:36%;
}


/*******************************
              Page
*******************************/

.hero {
	background:#d8eeef;
	height:380px;

}

.hero-title{
	float:left;
	width:50%;
}


.hero-graphic {
	width:50%;
	float:right;
	
}

.page {
	clear:both;
}

.footer {
	height:50px;
	background:#2d3132;
}

.grid-containersfd{
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: #2196F3;
  padding: 10px;
}

.grid-item-image-container{
	background:#2d3132;
	padding:40px 40px 40px 95px;
	border-top-left-radius:4px	;
	border-top-right-radius:4px	
}
.grid-item-image{
  background-image:url("images/card-header-image.png");
  background-repeat:no-repeat;
  height:113px;
  ;
}
.grid-item{

  background-color: white;
  width: 28%;
  height:375px;
  margin: 10px;
  text-align: left;
  font-size: 30px;
  border-radius: 4px;
  box-shadow: 5px 10px #eeeeee;

}

.cta-item{
	color:#bbbbbb;
  width: 28%;
  margin: 10px;
  text-align: center;
  font-size: 30px;

}

.grid-item-text {
	padding:30px;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
}

.cta-text{
	padding:30px 0 0 40px;

}

/*******************************
         Responsive
*******************************/

/* Small Monitor */
@media only screen and (min-width: 1025px) and (max-width: 1199px) {


}


/* Tablet */
@media screen and (max-width: 1024px) {

}

/* Mobile */
@media only screen and (max-width: 767px) {
}
